<!DOCTYPE html>
<html>

<head>
    <title>Search Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

</head>

<body>
    <div class="container">
        <div class="search-bar">
            <form action="{{ url_for('search') }}" method="GET" class="mb-3">
                <div class="input-group">
                    <input type="text" name="query" placeholder="Search..." required class="form-control">
                    <input type="hidden" name="page" value="1">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>



        {% if results %}
        <div class="results">
            <h4>Search Results:</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Date Created</th>
                            <th>Date Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                        <tr>
                            <td>{{ result['title'] }}</td>
                            <td>{{ result['author'] }}</td>
                            <td>{{ result['date_created'] }}</td>
                            <td>{{ result['date_updated'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <nav>
            <ul class="pagination justify-content-center">
                {% if prev_page %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('search', query=query, page=prev_page) }}">Previous</a>
                </li>
                {% endif %}

                {% for page_num in page_nums %}
                <li class="page-item{% if page_num == current_page %} active{% endif %}">
                    <a class="page-link" href="{{ url_for('search', query=query, page=page_num) }}">{{ page_num }}</a>
                </li>
                {% endfor %}

                {% if next_page %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('search', query=query, page=next_page) }}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>

    <div class="toast-container">
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
            <div id="successToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">
                        <div class="spinner-border text-warning" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </strong>
                    <small>11 mins ago</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            console.log("showing toast.");
            var successToastEl = document.getElementById('successToast');
            var toast = new bootstrap.Toast(successToastEl);
            toast.show();
        });
    </script>
</body>

</html>