<!DOCTYPE html>
<html>

<head>
    <title>Search Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="search-bar">
            <form action="{{ url_for('search') }}" method="GET" class="mb-3">
                <div class="input-group">
                    <input type="text" name="query" placeholder="Search..." required class="form-control">
                    <input type="hidden" name="page" value="1">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>



        {% if results %}
        <div class="results">
            <h4>Search Results:</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Date Created</th>
                            <th>Date Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                        <tr>
                            <td>{{ result['title'] }}</td>
                            <td>{{ result['author'] }}</td>
                            <td>{{ result['date_created'] }}</td>
                            <td>{{ result['date_updated'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <nav>
            <ul class="pagination justify-content-center">
                {% if prev_page %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('search', query=query, page=prev_page) }}">Previous</a>
                </li>
                {% endif %}

                {% for page_num in page_nums %}
                <li class="page-item{% if page_num == current_page %} active{% endif %}">
                    <a class="page-link" href="{{ url_for('search', query=query, page=page_num) }}">{{ page_num }}</a>
                </li>
                {% endfor %}

                {% if next_page %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('search', query=query, page=next_page) }}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>

    <div class="toast-container">
        <div class="position-fixed top-0 end-0 p-3 " style="z-index: 11">
            <div id="loadToast" class="toast hide mt-1" role="alert" aria-live="assertive" aria-atomic="true"
                data-bs-autohide="false">
                <div class="toast-header">
                    <strong class="me-auto">
                        <div class="spinner-border spinner-border-sm text-warning" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <span> &nbsp; Scanning...</span>
                    </strong>
                    <small>A week ago</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>

            <div id="errorToast" class="toast hide mt-1" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">
                        <span class="text-danger" >&#x274C; &nbsp; Error: </span>
                    </strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div id="errorToastBody" class="toast-body text-danger" id="etoastTitle">
                    Unknown Error.
                </div>
            </div>

            <div id="successToast" class="toast hide mt-1" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">
                        <span>&#x2705; &nbsp;</span><span id="stoastTitle">Scaned Successfully.</span>
                    </strong>
                    <!-- <small>A week ago</small> -->
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script>

        $(document).ready(function () {
            console.log("JQuery Loaded Successfully.");

            //showing toast
            var loadingToast = document.getElementById('loadToast');
            var ltoast = new bootstrap.Toast(loadingToast);
            ltoast.show();

            var successToast = document.getElementById('successToast');
            var stoast = new bootstrap.Toast(successToast);


            var errorToast = document.getElementById('errorToast');
            var etoast = new bootstrap.Toast(errorToast);

            $.ajax({
                url: '/run_crawler',
                type: 'POST',
                success: function (response) {
                    try {
                        console.log(response);
                        if (response.error) throw new Error(response.error);
                        ltoast.hide();
                        document.getElementById('stoastTitle').innerText = response?.message;
                        stoast.show();
                    } catch (error) {
                        console.log('Error:', error);
                        ltoast.hide();
                        document.getElementById('etoastTitle').innerText = error?.statusText;
                        etoast.show();
                    }
                },
                error: function (error) {
                    console.log({ error });
                    ltoast.hide();
                    document.getElementById('etoastTitle').innerText = error?.statusText;
                    etoast.show();
                }
            });
        });
    </script>
</body>

</html>