<!DOCTYPE html>
<html>
<head>
    <title>Search Page</title>
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <form action="{{ url_for('search') }}" method="GET">
            <input type="text" name="query" placeholder="Search..." required>
            <button type="submit">Search</button>
        </form>

        {% if results %}
        <div class="results">
            <h2>Search Results:</h2>
            <ul>
                {% for result in results %}
                <li>{{ result }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</body>
</html>